/* GENERAL Styles */
body{
    background-color: rgb(176, 148, 228);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ChatBox Styles */
.chatBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-image: url(./images/robots-pattern-design_1131-2.jpg);
    width: 350px;
    height: 300px;
    padding: 30px;
    border-radius: 20px;
}

#respond{
    display: flex;align-items: center;
    background-color: rgb(176, 148, 228);
    width: 200px;
    height: 30px;
    padding: 10px;
    border-radius: 30px;
    font-weight: bold;
    font-size: large;
}

/* Input Styles */
input{

    width: 200px;
    height: 20px;
    border-radius: 20px;
    border-color: #29dbbc;
    padding: 10px;
    font-size: large;
}


/* Button Styles */
button {
    width: 70px;
    height: 40px;
    border-radius: 15px;
 --border-radius: 15px;
 --border-width: 4px;
 appearance: none;
 position: relative;
 border: 0;
 background-color: #419a8b;
 font-family: "Roboto", Arial, "Segoe UI", sans-serif;
 font-size: 18px;
 font-weight: bold;
 color: white;
 z-index: 2;
 cursor: pointer;
}

button::after {
 --m-i: linear-gradient(#000, #000);
 --m-o: content-box, padding-box;
 content: "";
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 padding: var(--border-width);
 border-radius: var(--border-radius);
 background-image: conic-gradient(
		#488cfb,
		#29dbbc,
		#ddf505,
		#ff9f0e,
		#e440bb,
		#655adc,
		#488cfb
	);
 -webkit-mask-image: var(--m-i), var(--m-i);
 mask-image: var(--m-i), var(--m-i);
 -webkit-mask-origin: var(--m-o);
 mask-origin: var(--m-o);
 -webkit-mask-clip: var(--m-o);
 mask-composite: exclude;
 -webkit-mask-composite: destination-out;
 filter: hue-rotate(0);
 animation: rotate-hue linear 500ms infinite;
 animation-play-state: paused;
}

button:hover::after {
 animation-play-state: running;
}

@keyframes rotate-hue {
 to {
  filter: hue-rotate(1turn);
 }
}

button,
button::after {
 box-sizing: border-box;
}

button:active {
 --border-width: 5px;
}